node_modules

# Output
.output
.turbo
.vercel
.netlify
/uploads
apps/studio/static/uploads
.wrangler
.svelte-kit
/.svelte-kit
packages/*/dist
dist

# TypeScript compilation artifacts in source folders
packages/*/src/**/*.js
packages/*/src/**/*.js.map
packages/*/src/**/*.d.ts
packages/*/src/**/*.d.ts.map
!packages/*/src/**/*.svelte.d.ts
!app.d.ts

# Keep the CLI generated just for the sake of CLI functionality in dev mode
!packages/cms-core/src/cli/*.js

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

apps/studio/storage/assets/
