node_modules

# Output
.output
.turbo
.vercel
.netlify
/uploads
apps/studio/static/uploads
.wrangler
.svelte-kit
/.svelte-kit
packages/cms-core/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
