services:
  db:
    image: postgres:18
    restart: always
    ports:
      - $PG_PORT:5432
    environment:
      POSTGRES_USER: $PG_USER
      POSTGRES_PASSWORD: $PG_PASSWORD
      POSTGRES_DB: $PG_DATABASE
    volumes:
      - pgdata:/var/lib/postgresql
volumes:
  pgdata:
